[submodule "tyrannical"]
	path = tyrannical
	url = https://github.com/Elv13/tyrannical.git
[submodule "vicious"]
	path = vicious
	url = https://github.com/Mic92/vicious.git
[submodule "blingbling"]
	path = blingbling
	url = https://github.com/cedlemo/blingbling.git
[submodule "collision"]
	path = collision
	url = https://github.com/Elv13/collision.git
